.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-controlinput {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid yellowgreen;
    font: inherit;
    border-radius: 12px;
    padding: 0.25rem 05rem;
}

.form-control label {
    font-size: 1.2rem;
    font-weight: bold;
}

button {
    font: inherit;
    border: 1px solid purple;
    color: white;
    background-color: purple;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem 1.5rem;
}